# {{ ansible_managed }}
[{{ docker_repo_name }}]
name={{ docker_repo_description }}
baseurl={{ docker_repo_baseurl }}
enabled=1
gpgcheck={{ docker_repo_gpgcheck | ternary(1, 0) }}
{% if docker_repo_gpgcheck and docker_repo_gpgkey | length > 0 %}
gpgkey={{ docker_repo_gpgkey }}
{% endif %}
{% if docker_repo_module_hotfixes %}
module_hotfixes=true
{% endif %}
