# {{ ansible_managed }}
export ETCDCTL_API=3
export ETCDCTL_ENDPOINTS="{% for host in groups[etcd_group_name] %}http://{{ hostvars[host].ansible_host | default(hostvars[host].ansible_default_ipv4.address) }}:{{ etcd_client_port }}{% if not loop.last %},{% endif %}{% endfor %}"
